*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(0, 0, 0);
    color: white;
}

/* header{
    border: white solid 2px;
} */

nav{
    display: flex;
}

.menu{
    
    width: 100vw;
    text-align: right;
    
}
.menu ul{
    list-style-type: none;
    /* border: white solid 2px; */
    margin-top: 15px;
    padding : 8px;
    
}


.menu ul li{
    display: inline-block;
    justify-content: space-between;
    /* border:white solid 2px ; */
    /* background: rgb(53, 51, 51); */
    /* border-radius: 13px; */
    padding : 10px; 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.menu ul li:hover{
    text-shadow:  3px 3px 4px rgb(34, 200, 230);
}


.menu ul li a{

    text-decoration: none;
    color: white;
    margin: 30px;
    
   
}
.menu ul li a img{
    width: 30px;
}
.logo{
    padding: 5px;
    margin-left: 130px;
    margin-top: 5px;
}
.logo img{
    width: 100px;
    
}
.mission{
    /* border: white solid 2px; */
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.mission .col-1 img{
    margin-left: 150px;
}
.mission h1{
    font-family: 'Lobster', cursive;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 80px;
    
}

.mission p{
    margin: 45px 40px 0px 40px;
    max-width: auto;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    
    
}


.col-1{
    
    /* border: white solid 2px; */
    margin : 10px;
    margin-top: 90px;
}
.col-2{
    /* border: white solid 2px; */
    margin:10px;
    margin-top: 90px;

}

.mission .col-2 .btn{
    width: 180px;
    padding: 5px;
    background: #ff523b;
    /* color: black; */
    border-radius: 15px;
    text-align: center;
    margin-left: 250px;
    cursor: pointer;
    /* font-weight: bold; */

}
.mission .col-2 .btn a{
    text-decoration: none ;
    color: black;
    font-weight: bold;
}

.ToperHead{
    /* border : white solid 2px; */
    margin-top: 40px;
}
.ToperHead h1{
    
    text-align: center;
    padding: 2px;
    font-family: 'Lobster', cursive;
    font-weight: 200;
    margin-top: 90px;
    

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

.sec-1{
    /* border: white solid 2px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 40px;
    }

/* figure{
    border: white solid 2px;
} */

.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  
}

/* .sec-2{
    background: #000000;
    border:2px solid white;
} */
/* 
.backward , .forward{
    border:2px solid white;
} */


.sec-2{
    /* border: white solid 2px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:2px solid white;
      */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 40px;

    }
.navbtn{
    width: 50px;
    opacity: 0.8;
    margin-top: 200px;
}

.navbtn:hover{
    opacity: 1;
}

.slider{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    /* border:2px solid white; */
}

#bt1{
    background-image: url(images/conf2.png);
}
#bt2{
    background-image: url(images/conf3.jpg);
}
#bt3{
    background-image: url(images/conf4.jpg);
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    /* transition: 2s; */
    background: black;
    /* display: none; */
    position:relative;
}
.slide h1{
    position:absolute;
    color: rgb(255, 255, 255);
}

.slide img{
    width: 1000px;
    height: 500px;
    opacity: 0.6;
    /* display: none; */
}



.navigation-manual{

    position:absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: end;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    /* transition: 1s; */
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}


.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: end;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}



.sec-3{
    /* border: white solid 2px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:2px solid white;
      */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 40px;

    }


@import url(https://fonts.googleapis.com/css?family=Playfair+Display);




.card-wrapper {
  padding: 2%;
}

.card-wrapper .card{
  margin: 0 auto;
}

.sec-3 .card {
  position :relative;
  max-width: 300px;
  /* background-color: #bdc3c7; */
  background: #bdc3c7;  
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
  background: linear-gradient(to right, #2c3e50, #bdc3c7); 

  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1);
}

.image-wrapper {
  background-color: black;
  width: auto;
  height: 200px;
  overflow: hidden;
}

.sec-3 img {
    width: 100%;
  max-width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 0.8;
}

.sec-3 img:hover {
 -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
  transition: all 1s linear;
}

.text-box-wrapper {
 padding: 20px 
}

.heading {
   color: black;
  font-family: 'Playfair-Display';
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}

.heading::after {
  content: '';
  display: block;
  margin-top: 0.5em;
  width: 30px;
  height: 5px;
  background-color: black;
}

.text {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding-top: 10px;
  line-height: 2;
}

.sec-3 .button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 700;
  color: #ec4b4b;
  text-decoration: none;
 
}

.sec-3 .button:hover {
  color: black;

  transition: linear 0.2s;
}



footer{
    background: rgb(24, 23, 23);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 40px;
    
    
}

footer .bottom{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;

    /* border: 2px black solid; */
}

.bottom h5{
    color: rgb(105, 101, 101);
}

footer .bottom a{
    color: white;
    text-decoration: none;
    font-family: 'Zen Kurenaido', sans-serif;
}

/* 
#send{
    width: 30px;
    border: 2px black solid;
    
    
    margin-left: 20px;
    

} */

.bottmlast{
    margin-top: 30px;
    margin-bottom: 20px;
    /* border: 2px black solid; */
    text-align: center;
}

.bottmlast a{
    color: white;

}
.bottmlast h5{
    color: rgb(105, 101, 101);
}

.bottmlast input{
    /* margin-top: 20px; */
    height: 35px;
    /* border: 2px black solid; */
    margin-left: 10px;
    /* width: 220px; */
    
}
.fas{
    /* border: 2px white solid; */
    padding: 9px;
    background: rgba(45, 204, 224, 0.712);
    cursor: pointer;
}
.socials{
    margin: 20px;
}
.socials i{
    font-size: 30px;
    margin: 10px;
}

/* .subcribe-btn{
    background: rgb(0, 140, 255);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color:black;
    font-weight: 600;
} */
